body {
  padding: 0px;
  margin: 0px;
  border: none;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  user-select: none;
}

svg,
object,
.loading,
.blur-mode {
  pointer-events: none;
}

#traffic-light-area,
#tab-area {
  pointer-events: none;
}

:not(.blur-mode)
  :where(.tab, #tab-new, #tab-create-btn, .tab-container, #traffic-light-area-container
    > div, ) {
  pointer-events: auto;
}
