#wrapper {
  display: flex;
  flex-direction: column;
  height: var(--total-header-height);
}

#top-container {
  -webkit-app-region: drag;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 90px 1fr;

  height: var(--top-height);
  width: 100%;
  background-color: var(--main-black);
}

.blur-mode #top-container,
.blur-mode #top-container #tab-new {
  background-color: var(--blur-gray);
}

#bottom-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 111px 1fr;

  height: var(--bottom-height);
  width: 100%;
  background-color: var(--main-dark-grey);
}
