#tab-area {
  display: flex;
  height: 100%;
}

#tabs {
  display: flex;
  /* -webkit-app-region: no-drag; */
}
/* 
.tab {
  -webkit-app-region: drag;
} */

#tab-new {
  display: flex;
  color: var(--disabled-gray);
}
