#tab-area {
  display: flex;
  height: var(--top-height);
  padding-right: 20px;
}

#tabs {
  display: flex;
  align-items: flex-end;
}

.tab {
  width: 160px;
  height: 30px;
  padding: 5px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-app-region: no-drag;
}

.tab-border-right {
  height: 15px;
  border-right: 1px solid var(--main-dark-grey);
}

.focused-tab {
  background-color: var(--main-dark-grey);
  border-radius: 10px 10px 0 0;
}

.tab-container {
  color: var(--main-light-white);
  height: 100%;
  width: 100%;
  padding: 0 5px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30px 1fr 20px;
}

.tab-container > div {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-favicon svg {
  width: 15px;
  height: 15px;
  color: var(--main-light-grey);
}

.tab-title {
  width: 100%;

  text-align: left;
}

.tab-close-icon {
  height: 15px;
  width: 100%;

  text-align: center;
}

#tab-new {
  display: flex;
  color: var(--main-light-white);
}
