#traffic-light-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90px;
}

#traffic-light-area .control-circle {
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

#red {
  background-color: var(--close-red);
}

#red:focus {
  background-color: var(--close-red-active);
}

#yellow {
  background-color: var(--minimize-yellow);
  margin: 0 7px;
}

#yellow:active {
  background-color: var(--close-yellow-active);
}

#green {
  background-color: var(--maximize-green);
}

#green:hover {
  background-color: var(--close-green-active);
}
