#view-utils-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--bottom-height);
  width: 100%;
}

.view-util {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 33px;
  width: 33px;
}

.view-util-area {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 28px;
  width: 28px;
  border-radius: 50%;

  -webkit-app-region: no-drag;
}

.view-util-area:hover {
  background-color: #535252;
}

.view-util-area > svg {
  width: 18px;
  height: 18px;
  color: white;
}
