#tab-area {
  display: flex;
  align-items: flex-end;

  height: var(--top-height);
  padding-right: 20px;

  overflow: hidden;
}

#tab-area-container {
  max-width: 100%;
  height: 30px;
  display: flex;

  padding-right: 30px;

  overflow: hidden;
  position: relative;
}

#tabs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(30px, 160px);

  padding-left: 3px;
}

.tab {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-app-region: no-drag;
}

.tab > * {
  -webkit-app-region: no-drag;
}

/* .tab-favicon, : favicon이 close 버튼 위에 올라가면 close 버튼이 클릭되는 문제*/
.tab-title,
.tab-border-right {
  pointer-events: none;
}

.tab-border-right {
  height: 15px;
  border-right: 2px solid var(--main-dark-grey);
}

.focused-tab .tab-border-right {
  border: none;
}

.tab-container {
  color: var(--main-light-white);
  height: 100%;
  width: 100%;
  padding: 0 5px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(20px, 30px) 1fr;

  position: relative;
}

.focused-tab {
  margin-left: -2px;
}

.focused-tab .tab-container {
  background-color: var(--main-dark-grey);
  border-radius: 10px 10px 0 0;

  padding: 0 5px 0 7px;
}

.tab-favicon {
  z-index: 50;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-black);
}

.tab-favicon object {
  width: 15px;
  height: 15px;
}

.tab-title {
  z-index: 0;

  width: 100%;
  padding-top: 8px;

  font-size: small;

  white-space: nowrap;
  overflow: hidden;

  display: block;
}

.tab-close {
  z-index: 10;

  height: 20px;
  width: 20px;
  margin: 0 5px;

  position: absolute;
  top: 5px;
  right: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-black);
}

.focused-tab .tab-favicon,
.focused-tab .tab-close {
  z-index: 90;

  background-color: var(--main-dark-grey);
}

.tab-close-btn {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-close-btn:hover {
  border-radius: 50%;
  background-color: var(--main-grey);
}

.tab-close-btn > object {
  width: 15px;
  height: 15px;
}

#tab-new {
  width: 30px;
  height: 30px;
  color: var(--main-light-white);
  background-color: var(--main-black);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0px;
  z-index: 99;

  opacity: 90%;
}

#tab-create-btn {
  width: 20px;
  height: 20px;

  border-radius: 50%;

  -webkit-app-region: no-drag;

  text-align: center;

  font-size: larger;
}

#tab-create-btn:hover {
  background-color: var(--main-grey);
}
