#traffic-light-area {
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--top-height);
}

#traffic-light-area-container {
  display: flex;
}

#traffic-light-area-container .control-circle {
  border-radius: 50%;
  height: 12px;
  width: 12px;

  -webkit-app-region: no-drag;
}

#red {
  background-color: var(--close-red);
}

#red:hover {
  background-color: var(--close-red-hover);
}

#red:active {
  background-color: var(--close-red-active);
}

#yellow {
  background-color: var(--minimize-yellow);
  margin: 0 7px;
}

#yellow:hover {
  background-color: var(--minimize-yellow-hover);
}

#yellow:active {
  background-color: var(--minimize-yellow-active);
}

#green {
  background-color: var(--toggle-fullscreen-green);
}

#green:hover {
  background-color: var(--toggle-fullscreen-green-hover);
}

#green:active {
  background-color: var(--toggle-fullscreen-green-active);
}

.blur-mode #traffic-light-area-container > div {
  background-color: var(--main-grey);
}
