:root {
  --main-black: #212121;
  --main-dark-grey: #323639;
  --main-grey: #525252;
  --main-light-grey: #c5c5c5;
  --main-light-white: #dddddd;

  --total-header-height: 79px;
  --top-height: 41px;
  --bottom-height: 38px;

  --close-red: #ff6159;
  --close-red-active: #bf4942;
  --close-red-icon: #4d0000;
  --close-red-icon-active: #190000;

  --minimize-yellow: #ffbd2e;
  --minimize-yellow-active: #bf8e22;
  --minimize-yellow-icon: #995700;
  --minimize-yellow-icon-active: #592800;

  --toggle-fullscreen-green: #28c941;
  --toggle-fullscreen-green-active: #1d9730;
  --toggle-fullscreen-green-icon: #006500;
  --toggle-fullscreen-green-icon-active: #003200;

  --disabled-gray: #dddddd;
}
