label {
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

#omnibox {
  width: 100%;

  margin: 5px 15px 5px 0px;
  padding: 4.5px 15px;

  border-radius: 30px;

  color: white;
  background-color: var(--main-black);
  user-select: text;

  border: none;
}

#omnibox:focus {
  outline: 2px solid var(--omnibox-focus-blue);
}

#fav-toggle {
  width: 21px;
  height: 21px;

  position: absolute;
  right: 19px;

  margin: 5px 0px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-black);
  z-index: 50;

  cursor: pointer;
}

#fav-toggle:hover {
  background-color: var(--main-grey);
}

#fav-toggle svg {
  width: 17px;
  stroke: var(--main-light-white);
}

#fav-toggle .is-fav {
  fill: yellow;
  stroke: none;
}
