#omnibox {
  width: auto;

  margin: 5px 15px 5px 0px;
  padding: 4.5px 15px;

  border-radius: 30px;

  color: white;
  background-color: var(--main-black);
  user-select: text;

  border: none;
}

#omnibox:focus {
  outline: 2px solid var(--omnibox-focus-blue);
}
